* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* ---- Nav bar ---- */
nav {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 0.7% 6%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15,18,32);
  z-index: 99;
  transition-duration: 0.2s ;
}

nav img {
  width: 50px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding-top: 14px;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.home-text {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  font-weight: 600;
}

.dropdown {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.6);
}

.dropdown-content a {
  padding: 10px 15px;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background: #f44336;
}
/* Navigation hide on scroll */
.nav--hidden {
  transform: translateY(-90.8px);
}

/* ---- Index Page ---- */
.header {
  min-height: 40px;
  width: 100%;
  position: relative;
}

nav a{
  text-decoration: none;
}

.index-header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(image/library.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}


.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 15px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

/* Selecting a location in index*/

.locations {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;

}

.locations h1{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 30px;
}

.locations-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.locations-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  transition: 0.4s;
  padding: 0;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 0.4s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.row {
  display: flex;
  justify-content: center;
}

.layer h3{
  width: 100%;
  font-weight: 600;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}


.dashboard{
  margin: 40px 5px 5px 20px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 1px;
  background-color: #322F43;
  border-radius: 15px;
  color: #fff;
}

.dashboard h1{
  font-size: 30px;
  font-weight: 600;
}

/* ---- Admin Page ---- */

/* Card in admin page */
.card{
  margin-bottom: 30px;
  border: 3px solid #87708D;
}

/* Log Out Button In Admin Page */
.logout-button{
  display: flex;
  justify-content: flex-end;
  margin: 15px 10px;
}

.study-locations h2{
  margin: 20px 15px;
  font-weight: 600;
}

/* Filter buttons in admin page */
.filter{
  display: flex;
  justify-content: space-between;
  margin: 20px 15px;
}

.filter button{
  background-color: #87708D;
  color: #fff;
}

.btn-primary {
  border: none;
}

/* Search Input Styles in admin page*/
.search-input {
  padding: 8px 10px;
  font-size: 15px;
  border-radius: 10px; 
  border: 1px solid #ccc;
  width: 200px; 
}

/* Dashboard image */
.city-dashboard {
  position: relative;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 40px;
  padding: 100px; 
  color: #fff;
}

.city-dashboard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
}

.city-dashboard h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.vancouver-dashboard::before {
  background-image: url('image/vancouver-dashboard.jpg');
}

.burnaby-dashboard::before {
  background-image: url('image/burnaby-dashboard.jpg');
}

.coquitlam-dashboard::before {
  background-image: url('image/coquitlam-dashboard.jpg');
  background-position: center 40%;
}

.richmond-dashboard::before {
  background-image: url('image/richmond-dashboard.jpg');
}

.surrey-dashboard::before {
  background-image: url('image/surrey-dashboard.jpg');
  background-position: center 55%;
}

.locations-dashboard::before {
  background-image: url('image/locations-dashboard.jpg');
}

/* Add and Edit Locations */
.cancel {
  margin: 0px 15px;
  display: grid;
  height: fit-content(100px);
  grid-template-columns: fit-content(100px) fit-content(200px);
  column-gap: 15px;
}

.cancel button:hover {
  filter: brightness(150%);
  font-weight: bold;
}

/* 404 page */
.not-found {
  min-height: 100vh;
  width: 100%;
  background-image: url(image/404.png);
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  padding-top: 200px;
}

.not-found h1 {
  font-size: 150px;
  color: rgb(215, 213, 228);
}

.not-found h2 {
  font-size: 60px;
  color: rgb(158, 155, 178);
}

.not-found a {
  font-size: 25px;
  color: #fff;
  display: inline-block;
  margin-top: 25px;
}