{% extends 'base.html' %}
{% block title %}Edit Location{% endblock %}
{% block content %}
    <link rel="stylesheet" href="/static/admin.css" />
    <h2>Currently Editing: {{ location.name }}</h2>
    <br>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="POST" action="{{ url_for('edit_location', location_id=location.id) }}">
            {{ form.csrf_token }}
            {{ form.name.label }} {{ form.name(value=location.name)}}
            {{ form.city.label }} {{ form.city(value=location.city) }}
            <br> <br>
            {{ form.address.label }} {{ form.address(value=location.address) }}
            {{ form.hours.label }} {{ form.hours(value=location.hours) }}
            <br> <br>
            {{ form.link.label }} {{ form.link(value=location.link) }}
            {{ form.phone.label }} {{ form.phone(value=location.phone) }}
            <br> <br>
            {{ form.location_type.label }} {{ form.location_type(value=location.location_type) }}
            <br> <br>
            {{ form.submit }}
        </form>
    </div>
    <a href="{{ url_for('admin') }}" class="btn btn-info btn-sm">Cancel</a>
    <a href="{{ url_for('delete_location', location_id=location.id) }}" class="btn btn-danger btn-sm">Delete this location</a>
{% endblock %}
