<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/static/main.css" />
    <script type="module" src="script.js"></script>
  </head>
  <body>
        <div class="buttons">
            <button class="button-1" role="button">Vancouver</button>
            <button class="button-1" role="button">Burnaby</button>
            <button class="button-1" role="button">Surrey</button>
            <button class="button-1" role="button">Richmond</button>
            <button class="button-1" role="button">Coquitlam</button>
            <button class="button-1" role="button">All Locations</button>
        </div>
  </body>
</html>