{% extends 'base.html' %}
{% block title %}Vancouver{% endblock %}
{% block content %}
  <link rel="stylesheet" href="/static/vancouver.css" />
  <h1>Vancouver</h1>
  <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Hours</th>
            <th>Link</th>
            <th>Phone</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {% for location in locations %}
        {% if location.city == "Vancouver" %}
        <tr>
            <td>{{ location.name }}</td>
            <td>{{ location.address }}</td>
            <td>{{ location.hours }}</td>
            <td>{{ location.link }}</td>
            <td>{{ location.phone }}</td>
            <td>{{ location.type }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
  </table>
{% endblock %}